.wrapper(ng-controller = "messagesController" ng-init="init()")
    br/
    br/
    .messages-container
        ul.contacts-list
            li.contact(ng-repeat="c in contacts")
                a.uppercase.strong(ng-click="get_messages(c.id)")
                    | {{c.username}}
        ul#messages.messages
            li.message(ng-repeat="m in messages" class="rigth")
                span.uppercase.strong
                    | {{m.username}}
                |  {{m.message}}
    br/
    ul.form-fields
        li.field
            input(type="text" id="messagesField" placeholder="Tu mensaje" class="input")
        li.field
            a(ng-click="send()" class="button expand")
                i.fa.fa-paper-plane
                |  Enviar
javascript:
    var current = 0;
    var aplicacion = angular.module('jerrynbens', []);
    var server = "http://jnbschat-199929.use1-2.nitrousbox.com"
    aplicacion.controller('messagesController', function($scope, $http ) {
        $scope.contacts = [];
        $scope.messages = [];
        $scope.init = function(){
          $scope.get_contacts();
        }
        
        $scope.send = function(){
            if(!$("#messagesField").val() == "" && current != 0){
                $.post(server + "/api/message/send", {sent_by: #{current_user.id}, sent_to: current, message: $("#messagesField").val()}).done(
                function(data){
                    console.log(data);
                    $("#messages").append("<li class='message rigth'><span class='uppercase strong'>You</span> "+$("#messagesField").val()+"</li>");
                    $("#messagesField").val("");
                });
            }
        }
        $scope.get_contacts = function(){
          $http({
            method: 'GET', url: server + '/api/get/#{current_user.id}/talked_with'
          }).success(function(data) {
            console.log(data);
            $scope.contacts = data;
          }).error(function(d) {
            console.log('Error al intentar recuperar los datos, por favor verifica tu conexión a internet - 1');
          });
        }
        
        $scope.get_messages = function(id){
            $scope.messages = [];
            $http({
                method: 'GET', url: server + '/api/get/messages/'+id+'/#{current_user.id}'
            }).success(function(data) {
                console.log(data);
                $scope.messages = data;
                current = id;
            }).error(function(d) {
                console.log('Error al intentar recuperar los datos, por favor verifica tu conexión a internet - 2');
            });
        }
        
    });
    $(document).ready(function(){
        var source = new EventSource(server + '/listen/#{current_user.id}');
        source.onmessage = function(event) {
            a =  JSON.parse(event.data);
            console.log(JSON.parse(event.data)); //Incoming message, should raise a notification
            if( a.sent_by == current){
                $("#messages").append("<li class='message rigth'><span class='uppercase strong'>"+a.sent_by_username+"</span> "+a.message+"</li>");
            } else {
                console.log("Usted tiene un nuevo mensaje de " + a.sent_by_username);
            }
        }
    });