p
  | Hola #{@resource.name} #{@resource.last_name}!
p Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo a través del siguiente link.
p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
p If you didn't request this, please ignore this email.
p Your password won't change until you access the link above and create a new one.
