.radius
  border-radius: 2px

.round
  border-radius: 999em

.helvetica
  font-family: $helvetica

.right
  float: right

.left
  float: left

.text-center
  text-align: center

.text-accent
  color: $accent-color

.hidden
  visibility: hidden

.wrapper
  +wrap

.strong-transparent
  text-transform: uppercase
  color: rgba(#000, 0.5)
  font-weight: bold
  font-size: 1.2em
  letter-spacing: 1px
  &>.external
    font-size: 1em
    color: #FFF
    font-weight: normal